* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141922;
  overflow-y: scroll;
  font-family: 'Signika', sans-serif;
}

.clearfix::before {
  display: table;
  content: "";
  clear: both;
}
/* Sezione contenitori */
.ms_wrapper {
  width: 100%;
  height: 100vh;
  background-color: #141922;
  position: relative;
}
/* Fine sezione contenitori */



/* Sezione nav laterale */
.main_nav {
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 90px);
  background-color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav_top {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  overflow: hidden;
}
.logocontainer {
  width: 150px;
  padding-bottom: 10px;
  margin: 0 auto;
}
.main_nav .nav_top ul a li {
  list-style-type: none;
  padding: 5px 0;
  vertical-align: middle;
  color: white;
  text-decoration: none;
}
.main_nav .nav_top a {
  text-decoration: none;
}
.imageside {
  width: 30px;
  vertical-align: middle;
  padding-right: 5px;
}
.leftmain_padd {
  padding: 10px 0;
  display: inline-block;
}

.main_nav .nav_top .playlist_menu h3 {
  padding-top: 10px;
  color: white;
}
.playlist_menu {
  color: grey;
}
.play_list {
  height: 200px;
  overflow-y: scroll;
}
.play_list::-webkit-scrollbar {
  width: 12px;
  background-color: #0d4142;
}
.play_list::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 1.5px solid #76a3a2;
}
.play_list::-webkit-scrollbar-thumb:active {
  background-color: #141922;
}
.playlist_menu .play_list ul li {
  padding: 7px 0;
}

.nav_bottom {
  color: grey;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #000000;
}
.nav_bottom span:first-child {
  color: grey;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
  display: inline-flex;
  align-items: center;
}
.nav_bottom span:last-child {
  color: white;
  font-weight: 900;
  padding-top: 5px;
  display: inline-flex;
  align-items: center;
}
.download {
  width: 15px;

}
.profile {
  width: 20px;
  background-color: grey;
  height: 20px;
  border-radius: 50%;

}
.download, .profile {
  margin-right: 5px;
}
/* Fine sezione nav laterale */



/* Sezione nav superiore */
.main_content {
  background-color: rgba(8, 11, 18, 0.6);
  width: calc(100% - 250px);
  position: fixed;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.ms_button {
  color: white;
  background-color: black;
  padding: 20px 20px;
  border: 1.5px solid white;
  border-radius: 15px;
  line-height: 0px;
  text-transform: uppercase;
  display: flex;
  align-self: center;
  font-weight: 700;
}
.ms_button:hover {
  background-color: #24494a;
}
.ms_button:active {
  color: black;
  background-color: #2ebb6b;
}
/* Fine sezione nav superiore */

/* Inizio sezione corpo pagina */
.main_body {
  padding-left: 270px;
  padding-right: 20px;
  padding-top: 80px;
  padding-bottom: 100px;
}
.list_body {
  color: grey;
  font-size: 0.9em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.list_nav ul li {
  list-style-type: none;
  display: inline-flex;
  flex-direction: column;
  padding: 5px 10px;
}
.list_nav ul li:first-child::after {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 3px;
}
.list_nav ul li:first-child::after {
  content: "";
  width: 40%;
  height: 3px;
  background-color: #1db954;
}
.music_wrapper h1 {
  color: white;
  font-size: 2em;
}
.music_wrapper {
  width: 100%;
}
.image {
  min-width: 10%;
  padding: 8px 8px;
}
.image img {
  width: 100%;
}


/* Fine sezione corpo pagina */



/* Sezione del footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 90px;
  background-color: #282828;
  width: 100%;
}

.footcontainer {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.song {
  display: flex;
  width: 300px;
  align-items: center;
  height: 100%;
  color: white;
  float: left;
}
.songimage {
  padding-right: 10px;
}
.songimage img {
  width: 50px;
  height: 50px;
}
.songtext h4 {
  font-size: 0.95em;
}
.songtext h4:last-child {
  font-size: 0.85em;
}
.songtext {
  padding-right: 50px;
}
.songsymbols, .songtext h4:last-child {
  color: grey;
}
.ms_heart {
  padding-right: 10px;
}
    /* Fine sezione primo contenitore footer */
.player {
  float: left;
  min-width: 50%;
  justify-content: center;
}
.playcommands {
  color: white;
}
.commands {
  display: flex;
  justify-content: space-around;
  max-width: 200px;
  margin: 0 auto;
  align-items: center;
}
.ms_play {
  font-size: 30px;
}
.musicbar {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}
.musicbar span {
  color: white;
  padding-right: 10px;
  font-size: 0.9em;
}
.musicbar span:last-child {
  padding-right: 0;
  padding-left: 10px;
  display: flex;
}
.bar {
  width: 20%;
  background-color: #1db954;
  height: 3px;
  display: inline-flex;
}
.bar_white {
  width: 40%;
  background-color: white;
  height: 3px;
  display: inline-flex;
}
.pointer {
  background-color: white;
  width: 13.5px;
  height: 13.5px;
  border-radius: 50%;
}
.sound {
  min-width: 25%;
}
/* Fine sezione del footer */
