* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141922;
  overflow-y: scroll;
}

/* Sezione contenitori */
.ms_wrapper {
  width: 100%;
  height: 100vh;
  background-color: #141922;
  position: relative;
}
/* Fine sezione contenitori */



/* Sezione nav laterale */
.main_nav {
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 90px);
  background-color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav_top {
  display: flex;
  flex-direction: column;
  min-height: 285px;
  overflow: hidden;
}
.logocontainer {
  width: 150px;
  padding-bottom: 10px;
  margin: 0 auto;
}
.main_nav .nav_top ul a li {
  list-style-type: none;
  padding: 5px 0;
  vertical-align: middle;
  color: white;
  text-decoration: none;
}
.main_nav .nav_top a {
  text-decoration: none;
}
.imageside {
  width: 30px;
  vertical-align: middle;
  padding-right: 5px;
}
.leftmain_padd {
  padding: 10px 0;
  display: inline-block;
}

.main_nav .nav_top .playlist_menu h3 {
  padding-top: 10px;
  color: white;
}
.playlist_menu {
  color: grey;
}
.play_list {
  height: 200px;
  overflow-y: scroll;
}
.play_list::-webkit-scrollbar {
  width: 12px;
  background-color: #0d4142;
}
.play_list::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 1.5px solid #76a3a2;
}
.playlist_menu .play_list ul li {
  padding: 7px 0;
}

.nav_bottom {
  color: grey;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #000000;
}

.nav_bottom span:first-child {
  color: grey;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}
.nav_bottom span:last-child {
  color: white;
  font-weight: 900;
  padding-top: 5px;
}
.download {
  width: 15px;
  display: inline-block;
  vertical-align: middle;
}
.profile {
  width: 20px;
  background-color: grey;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
/* Fine sezione nav laterale */



/* Sezione nav superiore */
.main_content {
  background-color: rgba(8, 11, 18, 0.6);
  width: calc(100% - 250px);
  margin-left: 250px;
}
/* Fine sezione nav superiore */



/* Sezione del footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 90px;
  background-color: #282828;
  width: 100%;
}

.song {
  display: flex;
  flex-
}
.songimage {

}
/* Fine sezione del footer */
